<% if current_user %>
    <h1 class='list-title'><%= "#{current_user.email}'s todo list."%></h1>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
<% end %>
<div class='col-md-8 pull-left'>
  <%= render partial: 'items/form' %>
</div>
<hr>
<div class='col-md-8 pull-left'>
  <%= render partial: 'items/item' %>
</div>
<hr>
<!--<div class='col-md-8 pull-left'>-->
  <!--<#%= render partial: 'items/edit' %>-->
<!--</div>-->
